.keyboard{
  touch-action: none; //don't scroll when user is moving around.
  //Use css grid to stack the canvases on top of each other.
  display: grid;
  background-color: black;
  canvas{
    cursor: pointer;
    //We stack the canvases on top of each other by placing all of them at grid position (1, 1).
    //This provides the same functionality as position: absolute, but with less problems/quirks.
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;

    //&:nth-child(6){ //put some shadow at the top of the keyboard.
    //  box-shadow: inset 1px 6px 8px 0px rgba(0,0,0,0.13);
    //}
  }
}
