@import "../../page/page";

.autochorder{
  @extend %page;
  background-color: #eeefee;
  .options{
    @extend %options;
  }
}
%options{
  padding: 15px;
  .key{
    @extend %key;
  }
}

%key{
  border-radius: 12px;
  background: #eeefee;
  box-shadow:  7px 7px 10px #c3c4c3,
  -7px -7px 10px #ffffff;
  padding: 10px;

  display: grid;
  grid-template-areas: "root-note scale";
  grid-template-columns: 70px 200px;
  column-gap: 10px;
  .select{
    &:nth-child(1){
      grid-area: root-note
    }
    &:nth-child(2){
      grid-area: scale;
    }
  }
}

.slot-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //grid-template-columns: repeat(5, 20%);
  //grid-auto-columns: min-content;

}