.autochorder{
  background-color: rebeccapurple;
  .options{
    @extend %options;
  }
}
%options{
  .key{
    @extend %key;
  }
}
%key{
  background-color: gray;
}

.slot-cards{
  display: grid;
  grid-template-columns: repeat(5, 20%);
}