.chord-card{
  padding: 15px;
  //https://neumorphism.io/#eeefee
  border-radius: 12px;
  background: #eeefee;
  box-shadow:  7px 7px 10px #c3c4c3,
  -7px -7px 10px #ffffff;

  .details{
    .select .option{
      @extend %in-key-select-option;
    }

    .label{
      display: flex;
      justify-content: center;
      cursor: pointer;
      font-size: 25px;
    }
  }

  .notes{
    @extend %notes;
  }
}

%notes{
  //border: 1px solid grey;
  padding: 15px;

  border-radius: 6px;
  background: #eeefee;
  box-shadow: inset 5px 5px 6px #cacbca,
  inset -5px -5px 6px #ffffff;

  .note-and-octave{
    display: grid;
    grid-template-areas: "note-symbol note-octave delete-button";
    grid-template-columns: 33.333% 33.333% 33.333%;
    //grid-template-columns: 3fr 3fr 1fr;
    column-gap: 15px;
    .select:nth-child(1){
      grid-area: note-symbol;
    }
    .select:nth-child(2){
      grid-area: note-octave;
    }
    .button{
      grid-area: delete-button;
    }

    .select .option{
      @extend %in-key-select-option;
    }
  }
}

%in-key-select-option{
  &.in-key{
    background-color: rgba(131,219,118,0.5);
    &:nth-child(even){
      background-color: rgba(131,219,118,.8);
    }
  }
}