.chord-card{
  position: relative;
  padding: 15px 15px 1px 15px;

  //https://neumorphism.io/#eeefee
  border-radius: 12px;
  background: #eeefee;
  box-shadow:  7px 7px 10px #c3c4c3,
  -7px -7px 10px #ffffff;

  &.is-playing{
    background: linear-gradient(90deg, rgba(34,159,255,0.2763480392156863) 0%, rgba(11,147,221,0.18391106442577032) 35%);
  }

  .details{
    .select .option{
      @extend %in-key-select-option;
    }

    .label{
      display: flex;
      justify-content: center;
      cursor: pointer;
      font-size: 25px;
    }

    .chord-root-note-and-type{
      display: grid;
      grid-template-areas: "root-note type";
      grid-template-columns: 70px auto;
      column-gap: 12px;
      margin-bottom: 10px;
      .select:nth-child(1){
        grid-area: root-note;
      }
      .select:nth-child(2){
        grid-area: type;
      }
    }
  }

  .notes{
    @extend %notes;
  }

  .settings{
    display: flex;
    justify-content: flex-end;
    .button{
      font-size: 10px;
      padding: 1px 3px 1px 3px;
      border-radius: 2px;
    }
  }
}

%notes{
  //border: 1px solid grey;
  padding: 15px;

  border-radius: 6px;
  background: #eeefee;
  box-shadow: inset 5px 5px 6px #cacbca,
  inset -5px -5px 6px #ffffff;

  .randomize-buttons{
    .button{
      display: inline-block;
      margin-right: 33%;
    }
  }
  .note-and-octave{
    display: grid;
    grid-template-areas: "note-symbol note-octave delete-button";
    grid-template-columns: 33.333% 33.333% 33.333%;
    //grid-template-columns: 3fr 3fr 1fr;
    column-gap: 15px;
    .select:nth-child(1){
      grid-area: note-symbol;
    }
    .select:nth-child(2){
      grid-area: note-octave;
    }
    .button{
      grid-area: delete-button;
    }

    .select .option{
      @extend %in-key-select-option;
    }
  }
}

%in-key-select-option{
  &.in-key{
    background-color: rgba(131,219,118,0.5);
    &:nth-child(even){
      background-color: rgba(131,219,118,.8);
    }
  }
}

.settings-modal{
  > .midi {
    .label{
      display: inline-block;
      margin-right: 10px;
    }
    .midi-number{
      display: inline-block;
      margin-right: 10px;
    }
    .button{
      display: inline-block;
      &.learn{
        color: blue;
      }
    }
  }
  > .qwerty{
    .label{
      display: inline-block;
      margin-right: 10px;
    }
    .qwerty-keycode{
      display: inline-block;
      margin-right: 10px;
    }
    .button{
      display: inline-block;
      &.learn{
        color: blue;
      }
    }
  }
}