.app{
  background-color: transparent;

}

.play-notes-button{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  background-color: darkseagreen;
  font-size: 25px;
  vertical-align: middle;
}